/* Colors tan brown #b5a38f  blue #3f94ca */

body {
    background-image: url(../images/vintage-paper-background.png);
    background-color: #b5a38f;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Alice', serif;
}
.site-header > * {
    flex: 1;
}
nav {
    background-color: #3f94ca;
}
.site-header, 
.site-footer {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    flex-wrap:wrap;
    width:100%;
    border: 2px solid #06094a;
    box-sizing: border-box;
    background-color: #3f94ca;
    text-align: center;

}
.site-header .main-nav a, .site-footer .footer-nav a {
    margin: 0 0.5em;
    text-decoration: none;
    font-weight:bold;
    color: #fff;
}

main {
    padding: 1em;
    border: 2px solid #000;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
    max-width: 50em;
    line-height: 1.3em;
    margin: 0 auto;
    margin-top: 4em;
    font-family: 'Alice', serif;
}
h1, h2 {
    text-align: center;
    font-size: xx-large;
}
main p {
    text-align: left;
}
#first{ /* indent first paragraph of each page -ZC*/
    text-indent: 4em ;

}
#active{ /* change color of active chapter -ZC*/
    background-color: #06094a;
    padding:1.1em;
    margin:0;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

figure{
    float: left;
    padding:1em;
}
figure.rfloat {
    float: right;
}

.white-space {
    white-space: pre;       /* preserve spaces and line breaks -ZC*/
    font-family: 'Alice', serif;
}
/*  Footer */
footer {
    background-color: #3f94ca;
}

.footer-nav {
    display: flex;
    justify-content: center;
    margin:0;   
}

.site-footer {
    flex-direction: column;
    text-align: center;
}
footer p{
    font-size: smaller;
    margin: 0;
}